# Database lokal untuk migrasi Drizzle dan Studio
DATABASE_URL="postgresql://postgres:password123@localhost:5432/portal_sekolah?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Better Auth
BETTER_AUTH_SECRET="your-super-secret-key-for-better-auth"
BETTER_AUTH_URL="http://localhost:3001"

# Midtrans (Placeholder for Payment integration)
MIDTRANS_SERVER_KEY="your-server-key"
MIDTRANS_CLIENT_KEY="your-client-key"
